* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    box-shadow: black;
    text-shadow: black;
    text-decoration: none;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: black;
}
h1 { 
    font-size: 24px;
    color: white;
}
h2 {
    font-size: 16px;
    color: white;
}
p {
    color: white;
}
nav{
    width: 100%;
    height: 80px;
    z-index: 10;
}
button {
    color: white;
}
.indexDiv {
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    backdrop-filter: blur(5px);
    background-color: #282828;
    box-shadow: 0 0 15px;
}
.mainBtn {
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    border-color: transparent;
    box-shadow: 0 0 15px black;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.342);
    transition: 150ms ease;
}
.mainBtn:hover {
    scale: 1.1;
}
/* etusivu */
#etusivu {
    color: white;
}
.mainPgImg {
    width: 100%;
    height: 500px;
    margin-top: -80px;
    object-fit: cover;
    z-index: -1;
    position: relative;
}
.mainPgBg {
    width: 30%;
    padding: 25px;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 125px;
    border-radius: 25px;
    background-color: #282828;
    box-shadow: 0 0 25px #282828;
}
/* colorpage */
.window {
    height: 400px;
    width: 90%;
    border-radius: 5px;
    border: transparent;
    margin: 0 auto;
    background-color: transparent;
    display: flex;
    cursor: pointer;
    box-shadow: 0 0 25px;
}
.windowRight {
    background-color: rgba(0, 0, 0, 0.082);
    flex: 1;
    transition: box-shadow 0.3s ease;
}
.windowLeft {
    width: 50%;
    border-right: gray solid 1px;
    background-color: rgba(0, 0, 0, 0.082);
    transition: box-shadow 0.3s ease;
}
.selected {
    box-shadow: 0 0 25px;
    z-index: 1;
}
.clearBtn {
    box-shadow: 0 0 15px black;
    margin: 25px;
    width: 100px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.342);
    transition: 150ms ease;
}
.clearBtn:hover {
    scale: 1.1;
}
.colorBtn {
    border-color: transparent;
    border-radius: 5px;
    box-shadow: 0 0 15px black;
    width: 150px;
    height: 100px;
    margin: 15px 15px;
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
    transition: 150ms ease;
}
.colorBtn:hover {
    scale: 1.2;
}
/* contacts */
#contacts {
    background-image: url(telephone-612061.jpg);
    background-size: cover;
}
.submitBtn {
    color: white;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    border: transparent;
    box-shadow: 0 0 15px black;
    background-color: rgba(0, 0, 0, 0.377);
    width: 100px;
    cursor: pointer;
    transition: 150ms ease;
}
.submitBtn:hover {
    scale: 1.1;
}
.contactForm {
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: transparent;
    box-shadow: 0 0 15px black;
    background-color: rgba(0, 0, 0, 0.377);
    width: 35%;
}
/* gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.img {
    width: 300px;
    height: 300px;
    transition: 150ms ease;
    border-radius: 5px;
    box-shadow: 0 0 15px black;
    filter: saturate(0%);
    z-index: 0;
    object-fit: cover;
}
.img:hover {
    filter: saturate(100%);
    scale: 1.1;
    z-index: 10;
}

@media (max-width:2130px) {
    .mainPgBg {
        width: 75%;
    }
}

@media (max-width:1600px) {
    .indexDiv {
        width: 75%;
    }
}

@media (max-width:1300px) {
    .indexDiv {
        width: 90%;
    }
}

@media (max-width:900px) {
    .contactForm {
        width: 75%;
    }
}

@media (max-width:560px) {
    .mainPgBg {
        width: 90%;
    }
    .mainPgImg {
        height: 200px;
    }

    .indexDiv {
        width: 90%;
    }
    .mainBtn {
        margin: 5px;
    }
}